/* Left menu */

#lcontop {
  width:200px;
  padding-bottom:10px;
}


#lcon1 {
  width:200px;
  padding-bottom:10px;
}

.lmen1 {
  font-size: 13px;
  padding: 0px;
  margin:0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 18px;
}
.lmen1 li {
  list-style: none;
  border-top:    1px solid #7F7FBB;
  border-bottom: 1px solid #343477;
  margin-bottom: 0;
  margin: 0;
  padding: 0;
}

.lmen1 li a:link, .lmen1 li a:visited {
  display: block;
  width: 100%;
  width: auto;
  text-decoration: none;
  background-color:  #4F4F96;
  color: #eeeeee;
  padding-left:5px;
}

.lmen1 li a:hover {
  color: #ffffff;
  background-color:  #2F2F76;
}

/* Highlight side menus current page top menu*/
#p10   #lcontop .p10   a,
#p20   #lcontop .p20   a,
#p90   #lcontop .p90   a,
#p300  #lcontop .p300  a,
#p400  #lcontop .p400  a,
#p500  #lcontop .p500  a,
#p600  #lcontop .p600  a,
#p700  #lcontop .p700  a,
#p800  #lcontop .p800  a,
#p900  #lcontop .p900  a,
#p1000 #lcontop .p1000 a,
#p1100 #lcontop .p1100 a
{
color: #ffffff;
background-color:#222222;
}

/* Highlight side menus current page sub-menu*/

#p25   #lcon1 .p25   a,
#p27   #lcon1 .p27   a,
#p30   #lcon1 .p30   a,
#p40   #lcon1 .p40   a,
#p45   #lcon1 .p45   a,
#p50   #lcon1 .p50   a,
#p310  #lcon1 .p310  a,
#p320  #lcon1 .p320  a,
#p330  #lcon1 .p330  a,
#p340  #lcon1 .p340  a,
#p350  #lcon1 .p350  a,
#p410  #lcon1 .p410  a,
#p420  #lcon1 .p420  a,
#p430  #lcon1 .p430  a,
#p440  #lcon1 .p440  a,
#p450  #lcon1 .p450  a,
#p510  #lcon1 .p510  a,
#p520  #lcon1 .p520  a,
#p530  #lcon1 .p530  a,
#p540  #lcon1 .p540  a,
#p550  #lcon1 .p550  a,
#p560  #lcon1 .p560  a,
#p610  #lcon1 .p610  a,
#p710  #lcon1 .p710  a,
#p620  #lcon1 .p620  a,
#p630  #lcon1 .p630  a,
#p640  #lcon1 .p640  a,
#p810  #lcon1 .p810  a,
#p820  #lcon1 .p820  a,
#p830  #lcon1 .p830  a,
#p910  #lcon1 .p910  a,
#p920  #lcon1 .p920  a,
#p1010 #lcon1 .p1010 a,
#p1110 #lcon1 .p1110 a
{
color: #ffffff;
background-color:#222222;
}

